
.navbar
{
    border-bottom: 2px solid black;
    background-color:maroon;
}
.nav-item{
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 10px;
}
.nav-link
{
    color:antiquewhite;
}
.nav-link:hover
{
    transform: scale(1.1,1.1);
}