<div class="show_body">
<h1>Registered Patients Details</h1>
<div class="list">
    <h4><span class="span">Patient Id : </span>{{curr_stu._id}}</h4>
    <h4><span class="span">Patient Name:</span> {{curr_stu.name}}</h4>
    <h4><span class="span">Patient Age :</span> {{curr_stu.age}}</h4>
    <h4><span class="span">Patient Gender</span> : {{curr_stu.gender}}</h4>
    <h4><span class="span">Patient Email</span> : {{curr_stu.email}}</h4>
    <h4><span class="span">Current Condition</span> : {{curr_stu.condition}}</h4>
    <h4><span class="span">Department : </span>{{curr_stu.dept}}</h4>
    <h4><span class="span">Location : </span>{{curr_stu.Location}}</h4>
    <h4><span class="span">Contact No : </span>{{curr_stu.contactno}}</h4>
    <h4><span class="span">Gardian Name : </span>{{curr_stu.Gardian_name}}</h4>
    <h4><span class="span">Gardian Number : </span>{{curr_stu.Gardian_no}}</h4>
    <h4><span class="span">Patient DOB :</span> {{curr_stu.Dob}}</h4>
    <h4><span class="span">Patient Doctor</span> : {{curr_stu.Doctor}}</h4>
    <h4><span class="span">Patient Bill </span>: {{curr_stu.Bill}}</h4>
    <h4><span class="span">Patient Medicine Given</span> : {{curr_stu.Medicine}}</h4>
    <h4><span class="span">Uplaod Files</span> : {{curr_stu.upload}}</h4>
</div>
</div>
<h1>Name:{{curr_stu.name}}</h1>

<!-- <table>
    <tr>
        <td>bkjd</td>
        <td>bkjd</td>
        <td>bkjd</td>
        <td>bkjd</td>
    </tr>
    <tr *ngFor="data of curr_stu">
        <td> {{data.Medicine}}</td>
        <td> {{data.Medicine}}</td>
        <td> {{data.Medicine}}</td>
        <td> {{data.Medicine}}</td>
    </tr>
</table> -->


<!-- <h4> {{data_dump[curr_id]['id']}}</h4> -->