.show_body
{
    background-image: url("/assets/images/blur2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1
{
    padding: 40px;
    text-align: center;
}
.list
{
    margin:40px 89px;
}
.list h4
{
    margin:  20px;
}
.span
{
    font-size: 1.9rem;
}