<div style="background-color: rgb(230, 225, 225);">
<h1 class="heading"><span style="color: green;font-size: 2.9rem;">LIFE</span><span
    style="color:blue;font-size: 2.9rem"> CARE</span> HOSPITAL</h1>
<h2 style="text-align: center;margin:40px 0;">Available facilities</h2>
<div class="about">
    <div class="one">
        <div>
            <h3>OPD Management</h3>
            <p>
                An organized OPD for handling large number of patients to be<br>
                attended by multiple Doctors in an OPD. The complete cycle of <br>
                an effective OPD from Registration, Patient History, Patient<br>
                Diagnosis, and Prescription etc. is stored and managed effectively.
            </p>
        </div>
        <img src="assets/images/two.jpg">
    </div>
    <div class="two">
        <img src="assets/images/one.jpg" alt="">
        <div>
            <h3>IPD Management</h3>
            <p>
                Complete Inpatient Management Module that manages all your<br>
                hospital inpatient functionality from Patient registration to the<br>
                billing with a complete tracking of Patient records.
            </p>
        </div>
    </div>
    <div class="three">
        <div>
            <h3>OT Management</h3>
            <p>
                Operation theater module caters to the scheduling of operation <br>
                theaters, surgery team, patient tracking, operation theater <br>
                consumable management, accounting and Operation theater <br>
                roster and notes with Death and Birth certificates.
            </p>
        </div>
        <img src="assets/images/three.jpg" alt="">
    </div>
    <div class="four">
        <img src="assets/images/four.jpg" alt="">
        <div>
            <h3>TPA Management</h3>
            <p>Aarogya comes with an integrated TPA module offering <br>
                seamless insurance management to process the bills settlement<br>
                of the patients covered under insurance.
            </p>
        </div>
    </div>
    <div class="five">
        <div>
            <h3>Pathology Software</h3>
            <p>Pathology Lab Management facilitates definition of laboratory <br>
                tests supporting fully configurable laboratory tests reports<br>
                that are ordered in outpatient or Inpatient instantaneously.
            </p>
        </div>
        <img src="assets/images/five.jpg" alt="">
    </div>
    <div class="six">
        <img src="assets/images/sev.jpg" alt="">
        <div>
            <h3>Blood Bank Management</h3>
            <p>
                Blood Bank the value added module, facilitates Group wise <br>
                Donor information, Donor Card Generation, Donor Certificate, <br>
                Group wise Stock, Anti sera quality checks and Group wise Receipts.
            </p>
        </div>
    </div>
</div>

</div>