<div class="contact">
    <h1 id="inner_contact"></h1>
    <h6>Fill Out The Form For Enquiry</h6>
    <form>
      <div><input type="text" placeholder="Enter Your Name"></div>
      <div><input type="email" placeholder="Enter Your Email"></div>
      <div><input type="tel" placeholder="Enter Your Mobile NO"></div>
      <div><input type="text" placeholder="Enter Your City"></div>
      <div><input type="text" placeholder="Enter Your Message"></div>
      <div><button>Submit</button></div>
    </form>
<div>
