<div class="body">
  <h1 class="heading">WELCOME TO <span style="color: green;font-size: 2.9rem;">LIFE</span> <span
      style="color:blue;font-size: 2.9rem"> CARE</span> HOSPITAL </h1>
  <!-- courosels start here -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/hosp1.jpg" height="600px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/hosp2.jpg" height="600px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/hosp3.webp" height="600px"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/hosp4.jpg" height="600px" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- courosels ends here -->
  <!-- team cards start here -->
  <h1>OUR SPECIALIST DOCTORS</h1>
  <div class="card-group">
    <div class="card">
      <img src="assets/images/doc1.jpg" width="80%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ms.kalpana Goud</h5>
        <p class="card-text"><span>Cardiologists</span><br>
          She is a expert in heart and blood vessels.<br>
          You might see her for heart failure, a heart attack, high blood pressure, or an irregular heartbeat.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/doc2.jpg" width="80%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mrs.Aruna Palav</h5>
        <p class="card-text"><span>Endocrinologists</span><br>
          She is a expert on hormones and metabolism.<br>
          She can treat conditions like diabetes, thyroid problems, infertility, and calcium and bone disorders.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/doc4.jpg" height="300px" width="80%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mr.Sai Krishna</h5>
        <p class="card-text"><span>Gastroenterologists</span><br>
          He is specialists in digestive organs, including the stomach, bowels, pancreas, liver, and gallbladder.
          You might see him for abdominal pain, ulcers, diarrhea, jaundice, or cancers in your digestive organs. </p>
      </div>
    </div>
  </div>
  <!-- cards end here -->
  <h1>OUR BRANCHES</h1>
  <!-- branches cards starts here -->
  <div class="card-group" >
    <div class="card">
      <img src="assets/images/branch4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hyderbad</h5>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/branch1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Surat</h5>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/branch2.jpg" height="224px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Delhi</h5>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/branch5.jpg.crdownload" height="224px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kerala</h5>
      </div>
    </div>
  </div>
  <!-- branches cards ends here -->
    <!-- more about -->
  <div class="info">
    <h1>Explore more about LIFECARE !</h1><br>
    <div class="info2">
      <h6>Life Care is complete Patient Management System covering all the needs of a software for hospital. This
        medical software records patient vitals and progress notes through patient management system module all the way
        to an efficient patient billing system.<br><br>

        This healthcare software solution covers healthcare CRM and works as complete healthcare management system for
        Healthcare units and all stake holders including Patient with Patient App , Doctors with Doctor’s App , Nurses
        with Nursing care App effectively creating HMIS software solution.<br><br>

        Life Care Healthcare CRM provides realtime patient clinical data, EMR, medical history, visits, bills etc.</h6>
    </div>
  </div>
  <!-- more about -->
  <!-- footer starts -->

  <div class="footer">
    <div class="location">
    <div class="first_loc col-sm-12">
      <h5>Head Office</h5>
      <hr>
      <p>
        25/16, Mumbai,<br>
        Mumbai - (Maharashtra), India.<br>
        Sales Phone : +91-9415406114,<br>
        Phone : +91 (512) 2376505, 2317191, 2334400<br>
        Email : sales@datamannet.com<br>
      </p>
    </div>
    <div class="sec_loc col-sm-12">
      <h5>Hyderbad Office</h5>
      <hr>
      <p>
        201, Ghanshyam Enclave,<br>
        New Link Rd, Mahatma Gandhi Nagar,<br>
        Kandivali West,<br>
        Mumbai - 400067,<br>
        India.<br>
      </p>
    </div>
    <div class="third_loc col-sm-12">
      <h5>Delhi Office</h5>
      <hr>
      <p>
        316, Competent House, F Block,<br>
        Connaught Place,<br>
        New Delhi - 110008<br>
        India.<br>
      </p>
    </div>
    </div>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram-square"></i>
    <i class="fa-brands fa-twitter"></i>
    <p>Copyright 2021. All Rights Reserved.Terms & Privacy</p>
  </div>
  <!-- footer ends -->
</div>